body{
    background-color: #FFFFFF !important; /* White background */
    color: #333333 !important;
}

/* NAVBAR */
.navbar.navbar-inverse {
    background-color: #E9671E !important; /* Main color */
    border-color: #C55F1B !important; /* Darker shade of main color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
    font-family: 'Segoe UI', Arial, sans-serif;
  }
  
  .navbar.navbar-inverse .navbar-brand {
    color: #FFFFFF !important; /* White text */
    font-size: 19px;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .navbar.navbar-inverse .navbar-brand:hover {
    transform: scale(1.05);
  }
  
  .navbar.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important; /* White text */
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar.navbar-inverse .navbar-nav > li > a:hover,
  .navbar.navbar-inverse .navbar-nav > li > a:focus {
    color: #FFFFFF !important; /* White text */
    background-color: #C55F1B !important; /* Darker shade of main color */
  }
  
  .navbar.navbar-inverse .navbar-nav > .active > a,
  .navbar.navbar-inverse .navbar-nav > .active > a:hover,
  .navbar.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFFFF !important; /* White text */
    background-color: #C55F1B !important; /* Darker shade of main color */
  }
  
  .navbar-inverse .navbar-nav>.open>a, 
  .navbar-inverse .navbar-nav>.open>a:focus, 
  .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #D57235 !important; /* Slightly lighter shade of main color */
  }
  
  .navbar.navbar-inverse .navbar-toggle {
    border-color: #C55F1B;
    background-color: transparent;
  }
  
  .navbar.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF; /* White bars */
  }
  
  .navbar.navbar-inverse .dropdown-menu {
    background-color: #E9671E; /* Main color */
    border-color: #C55F1B; /* Darker shade of main color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .navbar.navbar-inverse .dropdown-menu > li > a {
    color: #FFFFFF; /* White text */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar.navbar-inverse .dropdown-menu > li > a:hover,
  .navbar.navbar-inverse .dropdown-menu > li > a:focus {
    color: #FFFFFF; /* White text */
    background-color: #C55F1B; /* Darker shade of main color */
  }
  
  /* NAVBAR SLIDEUP ANIM & Z-INDEX */
  .navbar.navbar-inverse.navbar-fixed-top {
    transition: top 0.5s ease;
    z-index: 10000000;
  }
  
  /* TOGGLE BUTTON NAVBAR */
  #navbar-toggle {
    padding: 5px 10px;
    background-color: #E9671E; /* Main color */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    right: 10px;
  }
  
  /* PHONES */
  @media screen and (max-width: 768px) {
    #navbar-toggle {
      right: auto; 
      left: 125px;
    }
  }
  
  /* BUTTONS */
  .btn.btn-default {
      color: #ffffff !important; /* White text */
      background-color: #E9671E !important; /* Main color */
      border: 1px solid #C55F1B !important; /* Darker shade of main color */
      padding: 10px 20px !important;
      font-size: 16px !important;
      border-radius: 5px !important;
      transition: background-color 0.3s, color 0.3s !important;
      outline: none !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  }
  
  .btn.btn-default:hover,
  .btn.btn-default:focus {
      color: #FFFFFF !important; /* White text */
      background-color: #D57235 !important; /* Slightly lighter shade of main color */
      border-color: #B9642E !important; /* Dark grey border */
      text-decoration: none !important;
  }
  
  .btn.btn-default:active {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3) !important;
      transform: translateY(1px) !important;
  }
  
  .write_btn {
      color: #ffffff !important; /* White text */
      background-color: #E9671E !important; /* Main color */
      border: 1px solid #C55F1B !important; /* Darker shade of main color */
      padding: 10px 20px !important;
      font-size: 16px !important;
      border-radius: 5px !important;
      transition: background-color 0.3s, color 0.3s !important;
      outline: none !important;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  }
  
  .write_btn:hover,
  .write_btn:focus {
      color: #FFFFFF !important; /* White text */
      background-color: #D57235 !important; /* Slightly lighter shade of main color */
      border-color: #B9642E !important; /* Dark grey border */
      text-decoration: none !important;
  }
  
  .write_btn:active {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3) !important;
      transform: translateY(1px) !important;
  }
  
  /* ALERT DELETION */
  .alert.alert-success {
    display: none !important;
  }

  
  /* FOOTER */
  footer {
    color: #333333; /* Dark grey text */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 30px;
  }

/* FINANCE H2,3,4 */
.container h2, .container h3, .container h4 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.alert.alert-info {
    background-color: #FFFFFF; /* White background */
    color: #333333; /* Black text */
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E9671E; /* Orange border */
}

.alert.alert-info > div {
    margin-bottom: 20px;
}

.alert.alert-info .table-container {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.alert.alert-info .table-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.alert.alert-info .highlight-box {
    display: inline-block;
    background-color: #FFFFFF; /* White background */
    padding: 15px 25px;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid #E9671E; /* Orange border */
    font-weight: bold;
    color: #333333; /* Black text */
}

.nav.nav-tabs {
    border-bottom: 1px solid #E9671E; /* Orange border */
    margin-bottom: 25px;
}

.nav-tabs > li > a {
    color: #333333; /* Black text */
    background-color: transparent;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    color: #FFFFFF;
    background-color: #f89053; /* Orange background */
    border-color: #E9671E; /* Orange border */
}

.tab-content {
    background-color: #FFFFFF; /* White background */
    color: #333333; /* Black text */
    padding: 20px;
    border-radius: 4px;
}

.tab-content .table {
    width: 100%;
    background-color: transparent;
    color: #333333;
    border-collapse: collapse;
}

.tab-content .table th, .tab-content .table td {
    padding: 12px;
    border: 1px solid #E9671E; /* Orange border */
}

.tab-content .table th {
    background-color: #f89053; /* Orange background */
    color: #333333;
}

.alert.alert-info [style], .alert.alert-info .bank-info [style] {
    color: inherit !important;
    background-color: inherit !important;
    padding: inherit !important;
    margin: inherit !important;
    border: inherit !important;
}

.alert.alert-info .bank-info {
    color: #333333; /* Black text */
    background-color: #FFFFFF; /* White background */
    padding: 15px 25px;
    border-radius: 4px;
    display: inline-block;
    margin: 5px 0;
    border: 2px solid #E9671E; /* Orange border */
}

/* RESPONSIVE ELEMENTS */
@media (max-width: 768px) {
    .alert.alert-info .table-container, .alert.alert-info .table-cell {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .nav.nav-tabs > li > a {
        font-size: 14px;
    }
    .tab-content {
        padding: 10px;
    }
}

.active a{
    color: #333333 !important; /* Black text */
}
