/* H2 */
.container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }

.panel {
    background-color: #171717 !important;
    color: #D3B9FF !important;
    border-color: #343A40 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
  }
  
  .panel-default > .panel-heading {
    background-color: #00337C !important;
    color: white !important;
    border-color: #034aac !important;
  }
  
  .panel-body {
    background-color: #171717 !important;
    color: #D3B9FF !important;
  }
  
  /* USER INFORMATION TABLE */
  .user-info .table {
    background-color: transparent;
    color: #D3B9FF;
  }
  
  .user-info .table td, .user-info .table th {
    border-color: #343A40;
  }
  
  /* ROWHEADER & STUDYGROUPS */
 .studyGroups th {
    background-color: #00337C !important;
    color: white !important;
  }
  
  .studyGroups td {
    background-color: #20232A;
    color: #D3B9FF;
  }

  .rowHeader {
    width: 778px!important; 
    background-color: #00337C !important;
    color: white !important;
    margin-left: -15px;
  }
  
  /* WIFI SETTINGS */
  .wifi-settings .table, .wifi-settings .table th, .wifi-settings .table td {
    background-color: #171717 !important;
    color: #D3B9FF !important;
    border-color: #343A40 !important;
  }
  
  .wifi-settings .table input[type="password"], .wifi-settings .table input[type="submit"] {
    background-color: #00337C !important;
    color: white !important;
    border-radius: 4px !important;
    padding: 5px 10px !important;
  }
  
  .wifi-settings .table input[type="submit"]:hover {
    background-color: #022b5c !important;
  }
  
  /* QR CODE */
  .strava-table {
    background-color: #20232A !important;
    color: #D3B9FF !important;
  }
  
  .strava-table td {
    text-align: center;
  }
  
  /* TABLE */
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #292b2c !important;
  }
  
  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #20232A !important;
  }
  
  .table-striped th, .table-striped td {
    color: #D3B9FF !important;
    border-color: #343A40 !important;
  }
  
  /* BUTTON */
.btn-add, .write_btn {
    background-color: #00337C !important;
    color: white !important;
    border-color: #265487 !important;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

.btn-add:hover, .write_btn:hover {
    background-color: #022b5c !important;
    color: white !important;
  }
  
  /* PFP */
  .profile-foto img {
    width: 125px !important;
    border-radius: 4px !important;
    border: 1px solid #ddd !important;
  }
  
  /* CLEARFIX*/
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* SUBMIT BUTTON */
    form[action="/Account/EduroamProfile"] input[type="submit"] {
    background-color: #00337C !important;
    color: white !important;
    border: none !important;
    margin: 5px;
    padding: 10px 15px !important;
    font-size: 16px !important;
    border-radius: 4px !important;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
  }

    form[action="/Account/EduroamProfile"] input[type="submit"]:hover {
    background-color: #022b5c !important;
  }

  /* STRAVA TABLE & TABLE STRIPED */
    .table-striped.strava-table,
    .table-striped.strava-table > tbody > tr,
    .table-striped.strava-table th,
    .table-striped.strava-table td {
    background-color: #171717 !important;
    color: #D3B9FF !important;
  }

    .table-striped.strava-table > tbody > tr:nth-of-type(odd),
    .table-striped.strava-table > tbody > tr:nth-of-type(even) {
    background-color: #171717 !important;
  }

  /* IMG STRAVA TABLE */
    .table-striped.strava-table img {
    width: 300px;
    margin: 200px auto 0;
    display: block;
  }