thead th {
    background-color: #00337C;
    color: #fff;
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #fff;
}

/* All table cells */
tbody td {
    padding: 10px;
    border-bottom: 1px solid #2a77e2;
}

/* Cells with specific classes */
.table-cell-center {
    text-align: center;
}

/* Alternating colors */
tr.even {
    background-color: #121212;
}

tr.odd {
    background-color: #0f0f0f !important;
}

/* Headers in tbody */
tr.professions th {
    text-align: left;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
}

/* Goals and comments */
.goal, .comment {
    display: block;
    margin-top: 5px;
}

.comment {
    font-style: italic;
    color: #2a77e2;
}




.electionData {
    width: 100%;
    border-collapse: collapse;
}

.electionData td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #333;
}

.electionData tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.electionData tr:nth-child(even) {
    background-color: #ffffff;
}

.electionData tr.projectApproved {
    background-color: #54dd59;
}

/* Specific table data cells */
.electionData td:first-child {
    font-weight: bold;
}
