/* Overall table */
.table {
    color: #fff;
    background-color: #171717;
    border-collapse: collapse;
    width: 100%;
}

/* Table headers */
.table th {
    background-color: #00337C;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Table rows */
.table tr {
    border-bottom: 1px solid #fff;
}

/* Table data cells */
.table td {
    padding: 10px;
    color: #fff;
}

/* Striping rows with alternate colors*/
.table-striped tr:nth-child(odd) {
    background-color: #0f0f0f !important;
}

.table-striped tr:nth-child(even) {
    background-color: #121212 !important;
}

/* Specific class-based rows */
.table tr.blockid-14, .table tr.blockid-4, .table tr.blockid-13, .table tr.blockid-2, .table tr.blockid-3 {
    color: #fff;
}
