/* PANEL */
.panel {
    background-color: #20232A !important;
    color: white !important;
    border-color: #343A40 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px !important;
}

.panel-default > .panel-heading {
    background-color: #00337C !important;
    color: white !important;
    border-color: #034aac !important;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.panel-body {
    padding: 35px;
}

/* FORM FIELD STYLING */
.form-horizontal .form-group label {
    color: white;
    text-align: left;
    margin-bottom: 10px;
    display: block;
}

.form-horizontal .form-group .form-control {
    background-color: #fff !important;
    color: #D3B9FF;
    border: 1px solid #343A40;
    height: 40px;
    padding: 10px;
}

/* CHECKBOX & BUTTON */
.form-horizontal .checkbox label {
    color: white;
}