/* General Styles */
body, html {
    background-color: #171717 !important;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* H2 Styling */
h2 {
    margin-top: 135px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
    font-size: 22px;

}

/* NAVBAR */
.navbar {
    background-color: #00337C;
    border-color: #034aac;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    height: 71px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
}

.navbar-header .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-nav .navbar-link {
    color: #FFFFFF; /* White text color */
    background-color: #022b5c; /* Darker red background */
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 10px; /* Adds space around the button */
    border-radius: 4px; /* Rounded corners */
    border: none; /* No border */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block; /* Aligns properly with other nav items */
    line-height: 1.5; /* Adjust line height for better text alignment */
    cursor: pointer; /* Cursor changes to a hand icon on hover */
}

.navbar-nav .navbar-link:hover, .navbar-nav .navbar-link:focus {
    background-color: #034aac; /* Slightly lighter red on hover/focus */
    color: #FFFFFF; /* Keeps text color white */
    text-decoration: none; /* No underline on hover/focus */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-header .navbar-brand,
    .navbar-nav .navbar-link {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .navbar-link {
        margin-top: 10px;
    }
}

/* Content Container */
.classification-container {
    margin-top: 40px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* TABLE STYLES */
.modern-table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    background-color: #121212;
    color: #fff;
}

.modern-table thead {
    background: linear-gradient(145deg, #034aac, #022b5c);
    color: white;
}

.modern-table th, .modern-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #343a40;
}

.modern-table th {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* FINAL GRADE ROW */
.modern-table .final-grade-row {
    background-color: #34495e;
    font-weight: bold;
    color: white;
}

/* FINAL GRADE CELL */
.modern-table .final-grade-cell {
    font-weight: bold;
    transition: transform 0.3s ease;
}

.modern-table .final-grade-cell:hover {
    transform: scale(1.05);
}

.table-title {
    font-size: 22px;
    font-weight:500;
    color: #fff;
    background: linear-gradient(145deg, #034aac, #022b5c);
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* RESPONSIVE ELEMENTS FOR MOBILE */
@media screen and (max-width: 768px) {
    /* Content Container */
    .classification-container {
        width: 100%;
        padding: 0 10px;
    }

    /* TABLE STYLES */
    .modern-table th,
    .modern-table td {
        padding: 8px;
        font-size: 14px;
    }
    
    .modern-table {
        display: block;
        overflow-x: auto;
    }
}


/* FOOTER */
footer {
    color: #D3B9FF;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 30px;
  }

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



.table-titles-dropdown {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #fff; 
    background-color: #121212; 
    border: 1px solid #343a40; 
    border-radius: 4px;
    outline: none; 
}

.table-titles-dropdown:focus {
    border-color: #034aac;
    box-shadow: 0 0 5px rgba(3, 74, 172, 0.5);
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.input-group div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #343a40;
    background-color: #121212;
    color: #fff;
    font-size: 16px;
    outline: none;
    width: 150px;
}

.input-group input:focus {
    border-color: #034aac;
    box-shadow: 0 0 5px rgba(3, 74, 172, 0.5);
}

/* BUTTONS */
.button-group {
    display: flex;
    flex-direction: row; /* Align buttons horizontally */
    align-items: center;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px;
    margin: 20px;
}

.btn.btn-default {
    color: #ffffff !important;
    background-color: #00337C !important;
    border: 1px solid #265487 !important;
    padding: 8px 15px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, color 0.3s !important;
    outline: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus {
    color: #FFFFFF !important;
    background-color: #1A4A8D !important;
    border-color: #163D7A !important;
    text-decoration: none !important;
}

.btn.btn-default:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(1px) !important;
}

@media screen and (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: auto;
    }

    .input-group div {
        align-items: center;
    }
    
    .button-group {
        flex-direction: column;
        width: auto;
    }

    .btn.btn-default {
        width: 100%;
    }
}



/* Style for the remove grade button */
.grade-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

/* Specific style for the remove button */
.remove-grade-button {
    background-color: #ff4d4d; /* Red */
    color: white;
}

.remove-grade-button:hover {
    background-color: #ff6666;
}

/* Specific style for the edit button */
.edit-grade-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.edit-grade-button:hover {
    background-color: #5cd65c;
}

.modern-table td .grade-button {
    margin-bottom: 5px; /* Adds space below each button */
    display: block; /* Makes each button take the full width of its container */
}

/* Additional style to only apply when the buttons are next to each other */
@media screen and (min-width: 1800px) { /* Adjust the min-width as needed */
    .modern-table td .grade-button {
        display: inline-block; /* Buttons next to each other for wider screens */
        margin-right: 5px; /* Adds space to the right of each button */
        margin-bottom: 0; /* Resets the bottom margin for side-by-side layout */
    }
}

.update-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #034aac;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.update-text {
    color: #ffffff;
    margin-right: 5px;
    font-size: 16px;
}

.update-date {
    color: #D3B9FF;
    font-weight: bold;
}